<h1>New Student Form</h1>
<%= form_tag "/students" do %>

    <label>First Name:</label><br>
    <textarea id="student_firstname" name="student[first_name]"></textarea><br>

    <label>Last Name:</label><br>
    <textarea id="student_lastname" name="student[last_name]"></textarea><br>

    <input type="submit" value="Submit Student">
<% end %>